<div class="wp">
  <div style="height: 100vh;border-right: 1px solid #cccccc;width: 240px;">
    <ngx-vertical-sortable-menu
    (closeEmit)="closeEmit($event)"
    (clickEmit)="clickEmit($event)"
    (menuSort)="menuSort($event)"
    [menuList]="menus"
    liHeight="40"></ngx-vertical-sortable-menu>
  </div>
  <div class="right" >
    <p>Hi~ This is demo</p>
    <div class="btn">
      <button (click)="pushHandler()">+ Push</button>
      <button (click)="shiftHandler()">- Shift</button>
    </div>
    <div class="content-1">
      <div class="title">Click Event</div>
      <div class="con"><b>Clicked: </b>{{clickEv}}</div>
    </div>
    <div class="content-2">
      <div class="title">Menu Data</div>
      <div class="pre-wp">
        <pre>{{groups}}</pre>
      </div>
    </div>
  </div>
</div>
