/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

@import url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')